body{
    background-image: url(video.png);
    background-size: cover;
    

}
video{
    width: 30rem;
    height: 50rem;
    position: fixed;
    overflow: hidden;
    margin-left: 23cm;
    margin-top: 7cm;
    margin-right: 4cm;
}